<form action="/home/create" method="post">
    edit date: <output type="text" name="date" @time> <br>
    title: <input type="text" name="title" value="<%=@post.title%>"> <br>
    content: <input type="text" name="content" placeholder="How are you?" value="<%=@post.content%>">
    <input type="submit" value="bye!">
</form>