<div class="login">
    <form class="login" action="/diary" method="post">
        <input class="writer" type="text" name="writer" value"" placeholder="What is your name?">
        <input class="quiz" type="password" name="q" value"" placeholder="Who am I?">
        <input class="submit" type="submit" value="love you, Riddle">
    </form>
</div>