<a>Memories</a>

<br>

<% @posts.each do |x| %>
 <%= x.id %> <br>
Title: <% x.title %> <br>
<a href ="home/content/<%=x.id%>"> >>> </a>
<a href="home/destory/<%=x.id%>"> Don't want to read anymore </a>
<a href="home/edit/<%=x.id%>">edit</a>
<%end%>