@charset "utf-8";


/*font-family: 'Noto Sans KR', sans-serif;*/

/*body*/
div#wrap{width:100%; margin:0 auto; }
header{width:100%; height:70px; background:#ffffff; overflow:hidden;  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1); margin:0 auto; }
.head{/*width:60%;*/ margin:0 auto; padding:17px; clear:both; }
.head>h1{float:left; font:bold 24px 'Noto Sans KR', sans-serif; letter-spacing: -0.92px; color:#6236ff;}
.head>a>p{float:right; background:#6236ff;  width:65px; height:15px; padding:10px 3px ; border-radius: 10px; text-align: center;  color:#fff;}

.content01{width:100%; margin: 45px auto; text-align:center;}
.content01>img{margin:0 auto 16px;}
.content01>p{font: 16px 'Noto Sans KR', sans-serif; letter-spacing: -0.36px; text-align:center; margin-bottom:20px; }
.event{background-color:#6236ff; display: inline-block; width:265px; height:40px; border-radius: 10px; text-align:center; color:#fff; text-decoration: none;  /*padding-top:4px;*/ font: bold 18px 'Noto Sans KR', sans-serif; letter-spacing: -0.5px}
.content01>span{margin-top:20px; font: 13px 'Noto Sans KR', sans-serif; letter-spacing: -0.36px; display:block;}

.content02{width:100%; margin:32px auto 40px;  background-color:#f5f5f5; overflow:hidden; padding:23px 0 21px ; }
.content02>div{  margin:0 auto;  }

ul>li{width:35%; display:block; float:left; margin:31px 0 20px; text-align:center; }
.title:{font: 16px 'Noto Sans KR', sans-serif; letter-spacing: -0.44px; color:#2f2f2f;  }

.btn02{margin-top:10px;}

.content02>div>p{clear:both; display:block;  margin:0 auto; font:13px 'Noto Sans KR', sans-serif; letter-spacing: -0.436px; color:#2f2f2f; text-align:center; }


/*modal*/
.modal{display:none; position:fixed; left:0; top:0; z-index:999; width:100%; height:100%;  overflow:hidden; background-color:rgba(0,0,0,0.6); }
/*modal content*/
.modal_content{margin:133px auto; width:80%;  height:533px; padding:32px 23px; background-color:rgba(255,255,255,1); border-radius:20px;  }
.modal_content h3{margin:0 auto; text-align:center;font:bold 20px 'Noto Sans KR', sans-serif; letter-spacing: -0.44px;  }
.close>img{float:right; }
.contents img{clear:both; margin:50px 33%;   }
.contents h4{font:bold 24px 'Noto Sans KR', sans-serif; letter-spacing: -0.75px; text-align:center;  }
.contents p{margin-top: 20px;font: 24px 'Noto Sans KR', sans-serif; letter-spacing: -0.75px; text-align:center; }

.contents>ul{display:block; }
.contents>ul>li{width:100%; height: 27px; border-radius: 10px; background-color:#d4d4d4; vertical-align: middle; margin-top:20px; padding-top:13px;}
.contents a{text-decoration: none; color:#fff; }
/*ul>li:nth-child(1)*/
.contents>ul>li.copy{background-color:#7d64d7; !important; }




footer{background-color:#484848; height:120px; margin:0 auto;  text-align: center;  }
.foot{width: 80%; color:#a6a6a6; font: 10px 'Noto Sans KR', sans-serif; letter-spacing: -0.45px; margin:0 auto 14px; padding-top:16px; }
footer>span{margin:0 auto ; color:#fff; font: 11px 'Noto Sans KR', sans-serif; letter-spacing: -0.5px; }